<!DOCTYPE html>
<html lang="en" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head>
    <! provides metadata for the page along with styling>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>LabRet</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="/static/basic.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>

<body>
    <div class="topnav">
      <img src="/static/logo.jpg" width="60" height="58" class="d-inline-block align-top float-left" alt="">
      <a href="#" class="active">Home</a>
      <a href="overview" action="overview">Overview Analysis</a>
    </div>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form class="form-inline" id="form2" method="get" action="{{ url_for('tweetsearch')}}">
                    <div class="font-weight-bold">Search Query:&nbsp</div>
                    <label for="query"></label>
                    <input type="text" id="query" name="query" placeholder="Search" >
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="font-weight-bold">
                Search Filters:
                </div>
                <br>
                <label for="POI">POI:</label>
                <select name="POI" id="POI">
                  <option value="Narendra Modi">Narendra Modi</option>
                  <option value="Balasaheb Thakre">Balasaheb Thakre</option>
                  <option value="Rajnath Singh">Rajnath Singh</option>
                </select>
                <label for="country">Country:</label>
                <select name="country" id="country">
                  <option value="India">India</option>
                  <option value="USA">USA</option>
                  <option value="Mexico">Mexico</option>
                </select>
                <label for="lang">Language:</label>
                <select name="lang" id="lang">
                  <option value="hindi">hindi</option>
                  <option value="english">english</option>
                  <option value="spanish">spanish</option>
                </select>
                <label for="topic">Topic:</label>
                <select name="topic" id="topic">
                  <option value="covid">covid</option>
                  <option value="vaccine">vaccine</option>
                </select>
            </div>
        </div>
    </div>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center font-weight-bold">
                Tweet Search Results
                </div>
                <hr size="8" width="80%" color="gray">
                <div class="ui segment">
                    <div class="ui stackable grid">
                        {% for card in tweet_search %}
                        <div class="four wide column" >
                        <div class="cards">
                                <div class="container">
                                    <div class="_card">
                                        <div class="cardheader"></div>{{card.tweet_text}}
                                    </div>

                                </div>
                            </div>
                        </div><br>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="text-center font-weight-bold">
                News Search Results
                </div>
                <hr size="8" width="80%" color="gray">
                <div class="ui segment">
                    <div class="ui stackable grid">
                        {% for news_card in tweet_news %}
                        <div class="four wide column" >
                        <div class="cards">
                                <div class="container">
                                    <div class="_card">
                                        <div class="cardheader"> Title: </div>{{news_card.title}}
                                    </div><br>
                                    <div class="_card">
                                        <div class="cardheader"> Description: </div> {{news_card.description}}
                                    </div><br>
                                    <div class="_card">
                                        <div class="cardheader"> News URL: </div> <a href={{news_card.url}} target="_blank">{{news_card.url}}</a>
                                    </div><br>
                                    <div class="description">
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="col-md-4 text-center font-weight-bold">
                Tweet Analysis
                <hr size="8" width="80%" color="gray">
                <div class="col-md-12">
                <div class="font-weight-bold"><center>
                Sentiment Analysis on the Query
                    </center>
                    <div id="chart" class="chart"></div>
                </div>
                </div>
                <div class="col-md-12">
                <div class="font-weight-bold"><center>
                Language Distribution on the Query
                    </center>
                    <div id="lang_analysis" class="chart"></div>
        </div>
    </div>

            </div></div></div>
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graphs = {{ graphJSON | safe}};
        Plotly.plot('chart', graphs, {});
    </script>
<script type='text/javascript'>
        var graphs = {{ langJSON | safe}};
        Plotly.plot('lang_analysis', graphs, {});
    </script>
</html>
