<!DOCTYPE html>
<html lang="en" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head>
    <! provides metadata for the page along with styling>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>LabRet</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="/static/overview.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

</head>

<body>
    <div class="topnav">
      <img src="static/logo.jpg" width="60" height="58" class="d-inline-block align-top float-left" alt="">
      <a href="index" action="tweet_search">Home</a>
      <a href="overview" class="active" action="overview">Overview Analysis</a>
    </div>
    <br>
    <div class="col-md-12">
                <div class="font-weight-bold"><center>
                Language based Distribution for Tweets on COVID-19
                    </center>
                </div>
    <div id="lang_distribution" class="chart">
    </div>
    </div>
    <div class="col-md-12">
                <div class="font-weight-bold"><center>
                Countrywise Stands Analysis on COVID-19
                    </center>
                </div>
        <br>
        <br>
        <div class="row">
        <div class="col-md-4">
            <div class="font-weight-bold"><center>
                India
            </center></div>
    <div id="country_sentiment_ind" class="chart">
        </div>
    </div>
        <div class="col-md-4">
            <div class="font-weight-bold"><center>
                USA
            </center></div>
    <div id="country_sentiment_us" class="chart">
        </div>
    </div>
        <div class="col-md-4">
            <div class="font-weight-bold"><center>
                Mexico
            </center></div>
    <div id="country_sentiment_mex" class="chart">
        </div>
            </div>
    </div>
    </div>
    <br>
        <br>
    <div class="col-md-12">
                <div class="font-weight-bold"><center>
                Datewise Tweet Analysis on COVID-19
                    </center>
                </div>
        <div id="Datechart" class="chart"></div>
    </div>
    <br>
        <br>
    <div class="col-md-12">
                <div class="font-weight-bold"><center>
                Countrywise Tweet Distribution
                    </center>
                </div>
        <div id="country_tweet" class="chart"></div>
    </div>
    <br>
        <br>
    <div class="col-md-12">
                <div class="font-weight-bold"><center>
                Tweet Distribution for POI
                    </center>
                </div>
        <div id="poi_tweet" class="chart"></div>
    </div>
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graphs = {{ langJSON | safe}};
        Plotly.plot('lang_distribution', graphs, {});
    </script>
    <script type='text/javascript'>
        var graphs = {{ poi_tweet | safe}};
        Plotly.plot('poi_tweet', graphs, {});
    </script>
    <script type='text/javascript'>
        var graphs = {{ country_sent_ind | safe}};
        Plotly.plot('country_sentiment_ind', graphs, {});
    </script>
    <script type='text/javascript'>
        var graphs = {{ country_sent_us | safe}};
        Plotly.plot('country_sentiment_us', graphs, {});
    </script>
    <script type='text/javascript'>
        var graphs = {{ country_sent_mex | safe}};
        Plotly.plot('country_sentiment_mex', graphs, {});
    </script>
    <script type='text/javascript'>
        var graphs = {{ country_tweet | safe}};
        Plotly.plot('country_tweet', graphs, {});
    </script>
    <script type='text/javascript'>
        var label={{ dates | safe }}
        var values={{ val | safe }}
        var data=[{
        x:label,
        y:values,
        mode:"lines",
        type:"scatter",
        }];
        var layout = {
        yaxis: {range: [0, 100]}
};
        Plotly.plot('Datechart',data, layout);
    </script>
</html>